.ticket-container {
  width: min(60%, 1000px);
  background-color: hsl(240, 100%, 97%);
  border-radius: 5px;
  padding: 1rem;
  margin: 2rem auto;
  color: hsl(240, 40%, 60%);
  border: 3px solid hsl(240, 100%, 80%);
}

.ticket-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid hsl(240, 100%, 80%);
}

.ticket-header h2,
h6 {
  margin: 0.5em 0;
}

.ticket-status > h5 {
  margin: 0.25em 0.35em;
  color: white;
  padding: 0.5em 0.75em;
  text-transform: uppercase;
  border-radius: 9px;
  cursor: pointer;
}

.ticket-new {
  background-color: orange;
}
.ticket-open {
  background-color: rgb(89, 89, 211);
}
.ticket-closed {
  background-color: rgb(129, 194, 31);
}

.ticket-description > p {
  max-width: 75ch;
}

.ticket-footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.ticket-zones > ul {
  list-style-type: none;
  display: flex;
  padding-left: 1em;
  flex-wrap: wrap;
}

.ticket-zones > ul li {
  margin: 0.25em 0.35em;
  background-color: hsl(240, 100%, 80%);
  color: white;
  padding: 0.25em 0.75em;
  border-radius: 9999px;
}

.ticket-creation-date > h6 {
  font-size: 1rem;
  text-align: end;
  margin: 1em;
  width: 15ch;
}
