@font-face {
  font-family: 'Careem';
  src: url('./assets/fonts/Careem-Regular.ttf') format('truetype');
}

*,
html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  --primary-color: #4ad285;
}

.primary-font {
  font-family: 'Careem', Fallback, sans-serif;
}

.flex {
  display: flex;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.justify-space-evenly {
  justify-content: space-evenly;
}

.align-center {
  align-items: center;
}
